.cartas{
    display: flex;
    gap: 36px;
    margin-left: 96px;
    margin-top: 120px;
    width: 100%;
    flex-direction: row;
}
.imagempizza{
    width: 150px;
    height: auto;
}
@media (max-widht:700px){
    .cards{
        flex-direction: column;
    }
}